.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.UlSectionContainer {
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1050px) {
  .App {
    display: flex;
  }

  .UlSectionContainer {
    margin: 0;
    display: flex;
    width: 90%;
    justify-content: center;
  }
}

::-webkit-scrollbar {
  width: 14px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #27ae60;
  border: solid 4px transparent;
  border-radius: 14px;
}

::-webkit-scrollbar-button {
  display: none;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 14px 14px #00ff00;
}

::-webkit-scrollbar-track {
  display: none;
}
